[Unit]
Description=Notification daemon (dunst)
After=xsession.target
PartOf=xsession.target

[Service]
ExecStart=dunst -conf %h/.config/dunst/dunstrc
Restart=on-failure
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=xsession.target

