[Unit]
Description=dwmblocks status bar
After=xsession.target
PartOf=xsession.target

[Service]
ExecStart=%h/.local/share/dwmblocks/dwmblocks
Restart=always
RestartSec=2
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=xsession.target


