[Unit]
Description=Simple X hotkey daemon
After=xsession.target
PartOf=xsession.target

[Service]
ExecStart=sxhkd
Restart=on-failure
RestartSec=2
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=xsession.target

